.chat {
    --rad: 20px;
    --rad-sm: 3px;
    display: flex;
    flex-direction: column-reverse;
    flex: 1 1 0%;
    min-height: 0;
    overflow-y: auto;
    padding: 20px;
    margin: auto;
    width: 100%;
    font: 16px/1.5 sans-serif;
    max-height: 80vh;
}

.chat-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 1 1 0%;
    min-height: 0;
}

.msg {
    position: relative;
    max-width: 75%;
    padding: 7px 15px;
    margin-bottom: 2px;
}

.msg.sent {
    border-radius: var(--rad) var(--rad-sm) var(--rad-sm) var(--rad);
    background: var(--primary);
    color: var(--text-on-primary);
    margin-left: auto;
}

.msg.rcvd {
    border-radius: var(--rad-sm) var(--rad) var(--rad) var(--rad-sm);
    background: var(--secondary);
    color: var(--text-on-secondary);
    margin-right: auto;
}

.msg::before {
    content: attr(data-time);
    font-size: 0.8rem;
    position: absolute;
    bottom: 100%;
    color: var(--text-muted);
    white-space: nowrap;
    display: none;
}

.msg.sent::before {
    right: 15px;
}

.msg.rcvd::before {
    left: 15px;
}

.msg:last-child::before {
    display: block;
}

.msg.sent:has(+ .msg.rcvd)::before {
    display: block;
}
.msg.rcvd:has(+ .msg.sent)::before {
    display: block;
}

.msg.sent:has(+ .msg.rcvd) {
    margin-top: 0.5rem;
    border-top-right-radius: var(--rad);
}
.msg.rcvd:has(+ .msg.sent) {
    display: block;
    margin-top: 0.5rem;
    border-top-left-radius: var(--rad);
}
